.homepage-bg-color {
  background: rgb(225, 247, 247);
  background: radial-gradient(
    circle,
    rgba(225, 247, 247, 0.5107085070356268) 0%,
    rgba(244, 244, 244, 1) 100%
  );
}
.line-height-3 {
  line-height: 3rem !important;
}
.list-container {
  margin-top: 6rem;
  margin-left: 12rem;
}
.map-container-sample {
  width: 350px;
  height: 350px;
  border: 1px solid rgb(1, 1, 14) !important;
  border-radius: 3px;
}
.right-side-map-ad {
  width: 200px;
  height: 350px;
  border: 1px solid rgb(1, 1, 14) !important;
  border-radius: 3px;
  margin-left: 2rem;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.homepage-gallerySwiper {
  height: 400px;
}
.navbar-light {
  background-color: rgb(9, 171, 177);
}
